/* Scss Document */
@import 'imports/nomalise.css';
/* Scss Document */
/*************** 
SHL Corperate Colors 
***************/
/* Lead Colors */
/* Support Colors */
/* Greys */
/* Scss Document */
body {
  font-family: "Montserrat", Arial, sans-serif;
}
body h1 {
  margin: 1em 0 0.2em;
  font: normal 500 1.8em/1.2em Pluto Sans DPD, Arial, sans-serif;
}
body p, body li {
  font-size: 1em;
  line-height: 1.4em;
  margin: 0.4em 0;
}
body b {
  font-weight: 700;
}
body .tighten {
  font-stretch: ultra-condensed;
  letter-spacing: -0.05em;
  font-kerning: normal;
}
body header h1 {
  font-size: 1.8em;
}
body section h1 {
  font-size: 1.28em;
}
body section h2 {
  font-size: 1.06em;
  font-weight: 400;
  line-height: 1.2em;
}
body section h1, body section h2 {
  margin: 1em 0 0.4em;
}
body section h1.h2h1-lockUp, body section h2.h2h1-lockUp {
  margin: 0.3em 0;
}
body section p, body section li {
  font-size: 0.9em;
}
body section ul, body section ol {
  padding-left: 1em;
  margin: 0;
}
body section ul li, body section ol li {
  margin: 0.4em 0 0 0;
  padding-left: 0;
}

body {
  width: 1024px;
  margin: 5em auto;
}
body h1 {
  font-family: "Montserrat", Arial, sans-serif;
}
body header h1 {
  font-weight: 600;
  color: #5B6770;
}

#UCF {
  height: 560px;
  width: 100%;
  margin: 50px 0;
  position: relative;
}
#UCF #Content {
  margin-left: 280px;
  width: 744px;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
}
#UCF #Content .slider {
  background-color: #dee1e2;
  width: 100%;
  height: 560px;
  position: relative;
  right: 100%;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}
#UCF #Content .slider.out {
  animation-name: slOut;
}
#UCF #Content .slider.in {
  animation-name: slIn;
}
@keyframes slOut {
  0% {
    right: 100%;
  }
  100% {
    right: 0;
  }
}
@keyframes slIn {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
  }
}
#UCF #Content #ContentDislplayArea {
  padding: 10px 20px 10px 310px;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content {
  display: none;
  position: relative;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content.show {
  display: block;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .factorDefinition {
  font-weight: 300;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .values {
  color: #78D64B;
  font-weight: bold;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content h1 {
  font-size: 0.8em;
  margin: 0.6em 0 0;
  padding-bottom: 0.2em;
  font-weight: 1000;
  border-bottom: 2px solid #000;
  color: #444;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content h2, #UCF #Content #ContentDislplayArea #Factors .factor_content dt {
  margin: 0.3em 0;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content > h2 {
  font-weight: 700;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content > h2 b {
  font-weight: 800;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions {
  margin-top: 1.2em;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions h1 {
  border-bottom: 1px solid #000;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions h2 {
  font-weight: 700;
  font-size: 0.96em;
  margin: 0.4em 0 0;
  padding-bottom: 0.4em;
  border-bottom: 1px solid #aaa;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dimensionDefinition {
  font-size: 0.86em;
  font-weight: 300;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content {
  height: 0;
  transition: height 0.3s ease-in-out;
  overflow-y: hidden;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content.show {
  height: 260px;
  overflow-y: scroll;
  scroll-behavior: enabled;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content.show::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content.show::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content .components {
  margin-bottom: 0.2em;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content .components h1 {
  border-bottom: 1px solid #ccc;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content .components h2 {
  font-weight: 300;
  font-size: 0.86em;
  color: #555;
  position: relative;
  margin-top: 0.4em;
  padding-left: 1em;
  padding-right: 5em;
  cursor: pointer;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
  transition: transform 1s;
  transform: rotate(0);
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content .components h2 .tag {
  position: absolute;
  font-size: smaller;
  font-weight: 500;
  right: 15px;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content .components h2:before {
  content: "";
  width: 0;
  position: absolute;
  left: 1px;
  top: 4px;
  transform: rotate(0);
  height: 0;
  border-top: 4px solid transparent;
  border-left: 8px solid #5B6770;
  border-bottom: 4px solid transparent;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content .components h2.show {
  color: #000;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content .components h2.show:before {
  top: 4px;
  transform: rotate(90deg);
  border-left: 8px solid #000;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content .components .com_content {
  height: 0;
  overflow-y: hidden;
  padding: 0 1em;
  background-color: #eee;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content .components .com_content > p {
  font-size: 0.86em;
  margin: 0.6em 0 0.2em;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content .components .com_content ul {
  margin-bottom: 0.6em;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content .components .com_content li {
  font-size: 0.9em;
  margin: 0.04em 0 0.14em;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content .components .com_content li p {
  margin: 0;
  padding: 0;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content .components .com_content.show {
  height: 100%;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content .components dl {
  margin: 0.4em 0 0.6em;
  font-weight: 300;
  font-size: 13px;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content .components dl dt {
  position: relative;
  margin-top: 0.6em;
  padding-left: 1em;
  cursor: pointer;
  font-weight: 600;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content .components dl dt:before {
  content: "";
  width: 0;
  position: absolute;
  left: 1px;
  top: 3px;
  height: 0;
  border-top: 4px solid transparent;
  border-left: 8px solid #5B6770;
  border-bottom: 4px solid transparent;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content .components dl dt .tag {
  position: relative;
  font-size: smaller;
  font-weight: 500;
  left: 25px;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content .components dl dd {
  display: none;
  margin-inline-start: 1em;
  color: #333;
  line-height: 16px;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content .components dl dd.show {
  display: block;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content .components dl dd h4 {
  margin: 8px 0 2px;
  padding-bottom: 3px;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content .components dl dd p {
  font-size: 1em;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content .components dl dd .Indicators {
  grid-column: 1/3;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content .components dl dd .Indicators ol {
  list-style-type: lower-alpha;
  margin-bottom: 0.6em;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content .components dl dd .Indicators ol li {
  font-size: 1em;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content .components ul {
  font-weight: 300;
}
#UCF #Content #ContentDislplayArea #Factors .factor_content .dimentions .dim_content .components ul li {
  font-size: 0.9em;
}

/* SVG Styles  */
#Selector {
  height: 560px;
  position: absolute;
  top: 0;
  animation-name: sup;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes sup {
  0% {
    transform: scale(0.01);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
#Selector #backGround {
  fill: #dee1e2;
}
#Selector #iconGround {
  fill: #9DA4A9;
}
#Selector #SelectorGraphic #centerImage {
  transition: all 0.3s ease-in-out;
}
#Selector #SelectorGraphic.selectionMade .easypick {
  display: none;
}
#Selector #SelectorGraphic.selectionMade #centerImage {
  transform: scale(0.7);
  opacity: 0;
}
#Selector #SelectorGraphic .factor_group .factorIcon {
  opacity: 0;
  fill: rgba(255, 0, 0, 0.3);
  stroke: red;
  stroke-width: 3px;
  display: none;
  transform: scale(2);
  transition: all 0.3s ease-in-out;
}
#Selector #SelectorGraphic .factor_group.selected .factorIcon {
  transform: scale(1);
  opacity: 1;
}
#Selector #SelectorGraphic .factor_group, #Selector #SelectorGraphic .dim_selector {
  cursor: pointer;
}
#Selector #SelectorGraphic .factor_group .backLight, #Selector #SelectorGraphic .dim_selector .backLight {
  fill: #eee;
  transition: fill 0.3s ease-in-out;
  stroke: #9DA4A9;
  stroke-width: 3px;
}
#Selector #SelectorGraphic .factor_group .heading, #Selector #SelectorGraphic .dim_selector .heading {
  fill: #000;
  transition: fill 0.3s ease-in-out;
}
#Selector #SelectorGraphic .factor_group .dim_selectors, #Selector #SelectorGraphic .dim_selector .dim_selectors {
  position: relative;
  transform: scale(2, 2);
  display: none;
}
#Selector #SelectorGraphic .factor_group .dim_selectors.show, #Selector #SelectorGraphic .dim_selector .dim_selectors.show {
  display: inline;
  transform: scale(1, 1);
  transition: transform 0.3s ease-in-out;
}
@keyframes compRingScale {
  0% {
    transform: scale(1, 1);
    display: block;
  }
  99% {
    transform: scale(1.9, 1.9);
    display: block;
  }
  100% {
    transform: scale(2, 2);
    display: none;
  }
}
#Selector #SelectorGraphic .factor_group .factor_selector.highlight > .backLight,
#Selector #SelectorGraphic .factor_group .dim_selector.highlight > .backLight, #Selector #SelectorGraphic .dim_selector .factor_selector.highlight > .backLight,
#Selector #SelectorGraphic .dim_selector .dim_selector.highlight > .backLight {
  fill: #F5A800;
}
#Selector #SelectorGraphic .factor_group .factor_selector.highlight > .heading,
#Selector #SelectorGraphic .factor_group .dim_selector.highlight > .heading, #Selector #SelectorGraphic .dim_selector .factor_selector.highlight > .heading,
#Selector #SelectorGraphic .dim_selector .dim_selector.highlight > .heading {
  fill: #fff;
}
#Selector #SelectorGraphic .factor_group .factor_selector.selected > .backLight,
#Selector #SelectorGraphic .factor_group .dim_selector.selected > .backLight, #Selector #SelectorGraphic .dim_selector .factor_selector.selected > .backLight,
#Selector #SelectorGraphic .dim_selector .dim_selector.selected > .backLight {
  fill: #FF8300;
}
#Selector #SelectorGraphic .factor_group .factor_selector.selected > .heading,
#Selector #SelectorGraphic .factor_group .dim_selector.selected > .heading, #Selector #SelectorGraphic .dim_selector .factor_selector.selected > .heading,
#Selector #SelectorGraphic .dim_selector .dim_selector.selected > .heading {
  fill: #fff;
}

/*# sourceMappingURL=default.css.map */
